__pycache__/
*.pyc
.pytest_cache/
.env
*.log
*.txt
!requirements.txt
!requirements-dev.txt
/STOP
/btc_bot_state.json
/btc_bot_live.json
/btc_bot_history.json
/trx_bot_state.json
/trx_bot_live.json
/trx_bot_history.json
/eth_bot_state.json
/eth_bot_live.json
/eth_bot_history.json
